<!-- home.html -->
<h1> Hi User </h1>

<div ng-hide="surveyOver" >
   <h3> Select any Questionnaire that you would like to answer - </h3>
	
       	<div ng-repeat = "quesAns in qaObj">
	 <button ng-click = "showQues($index)">{{quesAns.questionnaireTitle}}</button>
	 
     </div>
		
	
	</div>
	
	<button type="submit" class="btn btn-primary btn-lg" ng-click="getAdminQuestion()" ng-show="surveyOver">Start Answering</button>
	
	    
	

	
	 
	<div ng-show = "startQues" >
        <h1>{{qaObj[questionnaireID].qa[index].question}}</h1>
		<ul>
		<li>{{qaObj[questionnaireID].qa[index].answers.one}}</li>
		<li>{{qaObj[questionnaireID].qa[index].answers.two}}</li>
		<li>{{qaObj[questionnaireID].qa[index].answers.three}}</li>
		<li>{{qaObj[questionnaireID].qa[index].answers.four}}</li>
		</ul>
	<input type="text" placeholder="Type your answer here" ng-model="answer.text">		
	<button type="submit" class="btn btn-primary btn-lg" ng-click="showNextQuestion(index,qaObj[questionnaireID].qa.length )">Next</button>
    </div> 
	
</div>